<!DOCTYPE html><html><head><title>Babies Pets - Pub horrizontale - site de petites annonces pour animaux</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="Content-Language" content="fr-FR"/>
  <meta name="owner" content="Ariden"/>
  <meta name="robots" content="noindex"/>
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <meta name="description" content="Pub horrizontale -Petites annonces animalières pour vendre, donner, acheter un animal de compagnie, chien, chat, poisson, oiseau, cheval rongeur, reptile et oiseaux"/>
  <meta name="og:description" content="Pub horrizontale -Petites annonces animalières pour vendre, donner, acheter un animal de compagnie, chien, chat, poisson, oiseau, cheval rongeur, reptile et oiseaux"/>
</head><body><div id="10009-28"><script src="//ads.themoneytizer.com/s/gen.js?type=28"></script><script src="//ads.themoneytizer.com/s/requestform.js?siteId=10009&formatId=28"></script></div>
</body></html>
