<div class="popin-bg" id="popin-account">
  <div class="container">
    <div class="popin popin col-xs-10 col-xs-offset-1">
      <div class="row">
        <div class="col-xs-5">
          <div class="row">
            <img src="/img/popin.jpg" alt="Connectez-vous au site babies-pets" class="img-responsive"/>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="col-xs-12">
            <a class="action-close btn-close sprite-before close mg-top-20" data-format="banner300-250" title="Delete this banner"></a>
            <form method="post" class="txt-20 form-connexion has-validation-callback mg-right-50" id="form-connexion">
              <div class="row">
                <div class="col-xs-12">
                  <h2 class="ttl-h2 bd-grey mg-bottom-30 txt-up mg-top-30">Connectez-vous</h2>
                  <p class="mg-bottom-40">Connectez-vous sur babies-pets.fr et accédez à toutes vos annonces, favoris et visionnez vos messages reçus.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <input value="" name="email" placeholder="Votre email" class="field" data-title="email" data-validation="length required" data-validation-length="min4" type="email"/>
                </div>
              </div>
              <div class="row mg-top-10 bd-grey mg-bottom-30">
                <div class="col-xs-12 mg-bottom-30">
                  <input value="" name="password" placeholder="Votre mot de passe" class="field" data-title="mot de passe" data-validation="length required" data-validation-length="min4" type="password"/>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 mg-bottom-30">
                    <input type="submit" value="Connectez-vous" class="btn" id="button-connexion"/>
                </div>
                <div class="col-xs-12">
                  <p class="txt-18">Vous avez oublié votre mot de passe ? <a title="Mot de passe oublié ?" href="/mon-compte/recuperer-mot-de-passe" class="btn-forgot">Recupérez votre mot de passe</a></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
