<div class="popin-bg popin-beta" id="popin-account">
  <div class="container">
    <div class="popin popin col-xs-12 col-sm-offset-1 col-sm-10 col-xs-offset-0">
      <div class="row">
        <div class="col-sm-5 hidden-xs">
          <div class="row">
            <img src="/img/popin.jpg" alt="Connectez-vous" class="img-responsive"/>
          </div>
        </div>
        <div class="col-sm-7 col-xs-12">
          <div class="col-sm-11 col-xs-12">
            <form method="post" class="txt-20 form-beta has-validation-callback" id="form-beta">
              <div class="row">
                <div class="col-xs-12 txt-justify">
                  <h2 class="mg-top-40 bd-grey mg-bottom-30 ttl-h3">Sortie prochaine du site babies-pets</h2>
                  <p class="mg-bottom-20 txt-20">Babies-pets est un site <span class="txt-ciel">dédié aux amoureux des animaux</span>.</p>
                  <p class="mg-bottom-20 txt-16 hidden-xs">Basé sur un principe simple de petites annonces, il vous permettra, en échange direct avec les propriétaires, de trouver votre compagnon idéal.</p>
                </div>
                <div class="col-xs-12">
                  <a href="/ajouter-une-annonce" title="Postez votre annonce maintenant">
                    <img src="/img/babies.jpg" alt="Créez votre première petite annonce" class="bloc-babies-create img-responsive"/>
                  </a>
                </div>
              </div>
              <div class="row form-content">
                <div class="col-xs-12 mg-top-30 mg-xs-top-20">
                  <a href="/ajouter-une-annonce" title="Créer votre annonce" class="btn mg-xs-bottom-20">Créer</a>
                    <p class="float-right txt-20 hidden-xs">Retrouvez-nous sur
                    <a href="https://www.facebook.com/teamBabiesPets/" title="Retrouvez nous sur facebook" target="_blank" class="txt-18 txt-grey btn-share-fb  mg-left-20 float-right"><span class="picto-share-fb-small sprite"></span></a></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
