<%- partial ('../layout/header.ejs') %>
<div class="container mg-top-150 mg-bottom-150">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="ttl-h1 bd-grey mg-bottom-30">Erreur</h1>
    </div>
  </div>
</div>
<%- partial ('../layout/footer.ejs') %>
