<%- partial ('../layout/header.ejs') %>
<div class="container mg-top-150 mg-bottom-150">

<div class="row">
  <div class="col-xs-12">
    <h2 class="ttl-h2 bd-grey mg-bottom-30">Annonces de <% %></h2>
  </div>
</div>

</div>
<%- partial ('../layout/footer.ejs') %>
