<%- partial ('../layout/header.ejs') %>
<div class="container mg-top-150 mg-bottom-40">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <p><a href="/" title="Revenir sur la homepage de Babies-pets">Babies-pets</a> &gt; Spécialistes par catégories</p>
      <h2 class="ttl-h2 bd-grey">Liste des spécialistes par catégories</h2>
      <img src="<%- imagesWithPath %>"/>
    </div>
  </div>
</div>
<%- partial ('../partial/pub-bottom.ejs') %>
<%- partial ('../layout/footer.ejs') %>
