<div class="col-xs-12 col-sm-3 bg-grey pd-left-40 mg-top-70">
  <nav>
    <h4 class="mg-top-30">Protection &amp; Sécurité</h4>
    <li><i class="fas fa-caret-right"></i> <a href="/a-propos/cgu.html" title="Ouvrir les conditions générales d'utilisation" target="_blank">Conditions d'utilisation</a></li>
    <li><i class="fas fa-caret-right"></i> <a href="/a-propos/politique-confidentialite.html" title="Ouvrir la politique de confidentialité" target="_blank">Politique de confidentialité</a></li>
    <li><i class="fas fa-caret-right"></i> <a href="/a-propos/mentions-legales.html" title="Ouvrir les mentions légales" target="_blank">Mentions Légales</a></li>
    <li><i class="fas fa-caret-right"></i> <a href="/a-propos/cookies-eu.html" title="Voir les informations sur les cookies" target="_blank">Information sur les cookies</a></li>
    <li><i class="fas fa-caret-right"></i> <a href="/a-propos/securite-conseils.html" title="Voir les conseils sur la sécurité" target="_blank">Conseils sur la sécurité</a></li>
  </nav>
  <h4 class="mg-top-30">Besoin d'aide?</h4>
  <p>Contactez-nous</p>
  <p>En nous envoyant un email à</p>
  <p><i class="fas fa-caret-right"></i> <a href="mailto:contact@babies-pets.fr">contact@babies-pets.fr</a></p>
  <p>ou via</p>
  <p class="mg-bottom-60"><i class="fas fa-caret-right"></i> le <a href="/contacter-la-team" target="_blank" title="Contactez-nous via le formulaire de contact">formulaire de contact</a></p>
</div>
