  </div>
</div>
<div class="container-fluid bloc-newsletter bg-green hide">
  <div class="container">
    <form class="form-alertes">
      <div class="row  mg-top-10">
        <div class="col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-1">
          <p class="txt-18 txt-white sprite-after picto-speaker">Recevez les dernières annonces "Animaux" par e-mail</p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <a href="/inscription-aux-alertes" class="btn action-alerte txt-16">Je m'inscris aux alertes</a>
          <a href="#" class="btn hidden action-alerte-valid txt-16">Valider l'inscription</a>
        </div>
      </div>
      <div class="col-sm-9 col-xs-12 mg-top-10 hidden bloc-action-alerte">
        <div class="txt-16 row txt-white">
          <div class="col-xs-2 txt-right">
            Alertes de
          </div>
          <div class="col-xs-2">
            <p class="container-cgu-small mg-bottom-0">
              <input name="chiens" id="chiens" required="required" class="input-cgu " data-action="chiens" type="checkbox"/>
              <label class="bloc-cgu bloc-cgu-small" for="chiens"></label>
              Chiens
            </p>
          </div>
          <div class="col-xs-2">
            <p class="container-cgu-small mg-bottom-0">
              <input name="chats" id="chats" required="required" class="input-cgu " data-action="chats" type="checkbox"/>
              <label class="bloc-cgu bloc-cgu-small" for="chats"></label>
              Chats
            </p>
          </div>
          <div class="col-xs-2">
            <p class="container-cgu-small mg-bottom-0">
              <input name="rongeurs" id="rongeurs" required="required" class="input-cgu " data-action="rongeurs" type="checkbox"/>
              <label class="bloc-cgu bloc-cgu-small" for="rongeurs"></label>
              Rongeurs
            </p>
          </div>
          <div class="col-xs-2">
            <p class="container-cgu-small mg-bottom-0">
              <input name="oiseaux" id="oiseaux" required="required" class="input-cgu " data-action="oiseaux" type="checkbox"/>
              <label class="bloc-cgu bloc-cgu-small" for="oiseaux"></label>
              Oiseaux
            </p>
          </div>
          <div class="col-xs-2">
            <p class="container-cgu-small mg-bottom-0">
              <input name="reptiles" id="reptiles" required="required" class="input-cgu " data-action="reptiles" type="checkbox"/>
              <label class="bloc-cgu bloc-cgu-small" for="reptiles"></label>
              Reptiles
            </p>
          </div>
        </div>
        <div class="row mg-top-10 bloc-alerte-email">
          <div class="col-xs-4 txt-white txt-16 txt-right pd-top-10">
            Votre adresse email
          </div>
          <div class="col-xs-8">
            <input placeholder="Your email" name="email" id="email" class="field" data-validation="length required" data-validation-length="min4" type="email"/>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid">
  <div class="container">
