<div class="container-fluid bloc-gglmaps hidden-xs">
  <div class="row relative">
    <div class="row bloc-geo" id="map" data-size="1" style="display: none"></div>
    <div class="btns-for-geo">
      <p class="txt-info">Voir les favoris sur la carte google maps</p>
      <a href="#" title="agrandir la carte google maps" class="btn action-more" id="active-geoloc" ><span class="sprite btn-more"></span></a>
      <a href="#" title="diminuer la carte google maps" class="btn action-less" style="display: none"><span class="sprite btn-less"></span></a>
    </div>
  </div>
</div>
