<div class="container  mg-bottom-150 hidden-xs">
  <div class="row">
    <div class="col-xs-12 bg-white" style="min-height: 50px">
      <div data-format="long" class="load-pub"></div>
     <p class="float-right" style="position: absolute; right: 20px; bottom: 0">Votre publicité ICI</p>
    </div>
  </div>
</div>
