<%- partial ('../layout/header.ejs') %>
</div>
<div class="container-fluid bg-cat2">
  <form class="txt-20 form-annonce has-validation-callback" method="post" id="form-annonce" enctype="multipart/form-data">
    <div class="container bg-white">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              <div class="row pres-races">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row bloc-inscription">
        <div class="row">
          <div class="col-xs-12">
            <p class="txt-18 txt-race"><a href="/especes" title="Revenir sur la page principale des fiches">Toutes les fiches</a> > Ajouter une nouvelle fiche</p>
            <h3 class="ttl-h3 bd-grey mg-bottom-20 txt-up mg-top-40">Ajouter une nouvelle fiche</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4">
            <p>Type *</p>
          </div>
          <div class="col-xs-8">
            <select name="type" class="field-select field-type full" id="type" data-validation="required">
              <option value="chiens">Chiens</option>
              <option value="chats">Chats</option>
              <option value="rongeurs">Rongeurs</option>
              <option value="oiseaux">Oiseaux</option>
              <option value="reptiles">Reptiles</option>
            </select>
          </div>
        </div>

        <div class="row mg-top-10">
          <div class="col-xs-4">
            <p>Nom *</p>
          </div>
          <div class="col-xs-8">
            <input type="text" placeholder="Nom de l'espèce" class="field error" name="nom" id="especename" data-validation="required"/>
          </div>
        </div>

        <div class="row mg-top-10 bloc-for-type bloc-chiens bloc-chats">
          <div class="col-xs-4">
            <p>Taille</p>
          </div>
          <div class="col-xs-8">
            <select id="taille" name="taille" class="field-select field-professional full">
              <option value="petit">Petit</option>
              <option value="moyen">Moyen</option>
              <option value="grand">Grand</option>
            </select>
          </div>
        </div>

        <div class="row mg-top-10 bloc-for-type bloc-chiens bloc-chats bloc-rongeurs">
          <div class="col-xs-4">
            <p>Poils</p>
          </div>
          <div class="col-xs-8">
            <select id="type" name="poil" class="field-select field-professional full">
              <option value="court">Court</option>
              <option value="mi-long">Mi-long</option>
              <option value="long">Long</option>
            </select>
          </div>
        </div>

        <div class="row mg-top-10">
          <div class="col-xs-4">
            <p>Hauteur</p>
          </div>
          <div class="col-xs-8">
            <input type="text" placeholder="Hauteur" class="field error" name="hauteur" id="hauteur"/>
          </div>
        </div>

        <div class="row mg-top-10 bloc-for-type bloc-chiens bloc-chats bloc-rongeurs bloc-reptiles">
          <div class="col-xs-4">
            <p>Poid</p>
          </div>
          <div class="col-xs-8">
            <input type="text" placeholder="Poid moyen" class="field error" name="poid" id="poid"/>
          </div>
        </div>

        <div class="row mg-top-10">
          <div class="col-xs-4">
            <p>Sociabilité</p>
          </div>
          <div class="col-xs-8">
            <select id="sociabilite" name="sociabilite" class="field-select field-professional full">
              <option value="tressociable">Très sociable</option>
              <option value="sociable">Sociable</option>
              <option value="independant">Independant</option>
              <option value="sauvage">Sauvage</option>
            </select>
          </div>
        </div>

        <div class="row mg-top-10">
          <div class="col-xs-4">
            <p>Esperance de vie</p>
          </div>
          <div class="col-xs-8">
            <input type="text" placeholder="Esperance de vie" class="field error" name="esperance" id="esperance"/>
          </div>
        </div>

        <div class="row mg-top-10 bloc-for-type bloc-chiens bloc-chats bloc-rongeurs">
          <div class="col-xs-4">
            <p>Robe</p>
          </div>
          <div class="col-xs-8">
            <input type="text" placeholder="Robe" class="field error" name="robe" id="robe"/>
          </div>
        </div>

        <div class="row mg-top-10 bloc-for-type bloc-chiens bloc-chats">
          <div class="col-xs-4">
            <p>Queue</p>
          </div>
          <div class="col-xs-8">
            <input type="text" placeholder="Queue" class="field error" name="queue" id="queue"/>
          </div>
        </div>

        <div class="row mg-top-10 bloc-for-type bloc-chiens">
          <div class="col-xs-4">
            <p>Groupe</p>
          </div>
          <div class="col-xs-8">
            <select id="groupe" name="groupe" class="field error">
              <option value="1">Groupe 1</option>
              <option value="2">Groupe 2</option>
              <option value="3">Groupe 3</option>
              <option value="4">Groupe 4</option>
              <option value="5">Groupe 5</option>
              <option value="6">Groupe 6</option>
              <option value="7">Groupe 7</option>
              <option value="8">Groupe 8</option>
              <option value="9">Groupe 9</option>
              <option value="10">Groupe 10</option>
            </select>
          </div>
        </div>

        <div class="row mg-top-10">
          <div class="col-xs-4">
            <p>Description *</p>
          </div>
          <div class="col-xs-8">
              <textarea name="description" id="detail" cols="100" rows="4" class="field-area field-description" style="height: 200px" maxlength="4000"
                        data-title="description de l'espèce" data-validation-length="min25" data-validation="required length"></textarea>
          </div>
        </div>

        <div class="row mg-top-10">
          <div class="col-xs-4">
            <p>Caractéristiques physiques</p>
          </div>
          <div class="col-xs-8">
              <textarea name="caracteristic" id="caracteristic" cols="100" rows="4" class="field-area field-caracteristic" style="height: 200px" maxlength="4000"
                        data-title="caractéristiques physique"></textarea>
          </div>
        </div>

        <div class="row mg-top-10">
          <div class="col-xs-4"><p>Sante</p>
          </div>
          <div class="col-xs-8">
              <textarea name="sante" id="sante" cols="100" rows="4" class="field-area field-sante" style="height: 200px" maxlength="4000"
                        data-title="sante"></textarea>
          </div>
        </div>

        <div class="row mg-top-10">
          <div class="col-xs-4"><p>Caractere</p>
          </div>
          <div class="col-xs-8">
             <textarea name="caractere" id="caractere" cols="100" rows="4" class="field-area field-caractere" style="height: 200px" maxlength="4000"
                       data-title="caractere"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="container mg-top-10 bg-white bloc-padding-small">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="ttl-h3 bd-grey txt-up">Photos de la fiche</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <input name="list" value="" type="hidden" id="list-values"/>
          <p>Télécharger des photos pour illustrer la fiche</p>
        </div>
        <div class="col-xs-12 col-sm-8 mg-bottom-20">
          <p class="btn btn-success fileinput-button mg-bottom-20">Cliquez ici
            <input name="images" class="btn btn-success fileinput-button" id="fileupload" type="file" multiple/>
          </p>

          <div id="progress" class="progress hidden">
            <div class="progress-bar progress-bar-success"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="files" class="files col-xs-12 mg-bottom-20 image_preview"></div>
      </div>
    </div>

    <% if (!user_id) { %>
    <%- partial ('../partial/bloc-inscription.ejs') %>
    <% } %>

    <div class="container mg-top-10 mg-bottom-40 bg-white bloc-padding-small">
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="ttl-h3 bd-grey mg-bottom-30 txt-up">Soumettre la nouvelle fiche</h3>
            </div>
            <div class="col-xs-2">
              <p class="container-cgu">
                <input name="cgu" id="cgu" required="required" class="input-cgu" type="checkbox">
                <label class="bloc-cgu" for="cgu"></label>
              </p>
            </div>
            <div class="col-xs-10">
              <label for="from_partners_yes" class="optinLabel">
                Je certifie que les informations renseignées de font pas suite à des copier-coller trouvées sur d'autres supports.
              </label>
            </div>
          </div>

          <div class="row mg-top-30">
            <div class="col-xs-12">
              <input id="publish_button" class="btn" name="publish" value="Envoyer la fiche" type="submit"/>
            </div>
            <div class="col-xs-12 mg-top-30">
              <p>
                En cliquant sur "Envoyer la fiche", je confirme avoir lu et accepter les <a href="/a-propos/cgu.html" target="_blank" title="Lire les conditions générales du site babies-pets.fr">conditions générales</a> du site babies-pets.fr
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <img class="img-responsive" alt="Authentifiez-vous sur babies-pets pour poster vos annonces" src="/img/background/lapinou.jpg"/>
        </div>
      </div>
    </div>
  </form>

<%- partial ('../partial/pub-bottom.ejs') %>
<%- partial ('../layout/footer.ejs') %>
<link rel="stylesheet" href="/styles/trumbowyg.min.css"/>
<link rel="stylesheet" href="/styles/jquery.Jcrop.css"/>
<link rel="stylesheet" href="/styles/back/easy-autocomplete.min.css"/>
<link rel="stylesheet" href="/styles/back/easy-autocomplete.themes.min.css"/>
