<%- partial ('../layout/header.ejs') %>
</div>
<div class="container-fluid bg-cat">
  <div class="container bg-white mg-bottom-40 pd-bottom-20 bloc-inscription">

    <div class="row">
      <div class="col-xs-12 mg-bottom-30 txt-18 txt-justify">
        <p><a href="/" title="Revenir sur la homepage de Babies-pets">Babies-pets</a> &gt; <a href="/especes/chiens" title="Revenir sur la liste des races chiens">Listes des races de chiens</a>  &gt; Définition et détails des groupes</p>
        <h2 class="ttl-h2 bd-grey mg-top-20">Les groupes de race de chiens</h2>
        <p class="mg-top-20">La F.C.I (Fédération Cynologique Internationale) a classifié les races des chiens en 10 groupes par souci de définition.<p>
        <p>Cete classification permet de se faire une idée de "l'esprit" de la race, et de sa taille. Tout chien pure race appartient obligatoirement à un seul de ces groupes.</p>
        <p>Le groupe de race permet parfois les différenciations des chiens dans certains concours.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <h3 class="ttl-h3">Groupe</h3>
      </div>
      <div class="col-xs-6">
        <h3 class="ttl-h3">Descriptif</h3>
      </div>
      <div class="col-xs-4">
        <h3 class="ttl-h3">Age minimum pour confirmation</h3>
      </div>
    </div>

    <div class="row txt-16 bd-grey mg-top-30 pd-bottom-20">
      <div class="col-xs-2">
        <p>Groupe 1</p>
      </div>
      <div class="col-xs-6">
        <p>Section 1 : Chiens de Berger</p>
        <p>Section 2 : Chiens de Bouvier (sauf Chiens de Bouviers Suisses)</p>
      </div>
      <div class="col-xs-4">
        <p>Berger Allemand et Berger de Brie : 15 mois</p>
        <p>Reste du groupe : 12 mois</p>
      </div>
    </div>

    <div class="row txt-16 bd-grey mg-top-30 pd-bottom-20">
      <div class="col-xs-2">
        <p>Groupe 2</p>
      </div>
      <div class="col-xs-6">
        <p>Section 1 : Chiens de type Pinscher et de type Schnauzer</p>
        <p>Section 2 : Molossoïdes</p>
        <p>Section 3 : Chiens de Montagne et de Bouviers Suisses</p>
        <p>Section 4 : Autres Races</p>
      </div>
      <div class="col-xs-4">
        <p>Schnauzer Géant, Dogues Allemand, de Bordeaux, du Tibet, Mastiff, Bullmastiff,Mâtin Napolitain, Montagne et Mâtin des Pyrénées, Fila Brasileiro, Mâtin Espagnol,Chien de Montagne Portugais, Rafeiro de Alentejo, St-Bernard, Terre-Neuve, Landseer,Léonberg, Dobermann, Rottweiler, Hovawart, Grand Bouvier Suisse, Bouvier Bernois : 15 mois</p>
        <p>Reste du groupe : 12 mois</p>
      </div>
    </div>

    <div class="row txt-16 bd-grey mg-top-30 pd-bottom-20">
      <div class="col-xs-2">
        <p>Groupe 3</p>
      </div>
      <div class="col-xs-6">
        <p>Section 1 : Terriers de grande et moyenne taille</p>
        <p>Section 2 : Terriers de petite taille</p>
        <p>Section 3 : Terriers de type bull</p>
        <p>Section 4 : Terriers d'agrément</p>
      </div>
      <div class="col-xs-4">
        <p>12 mois</p>
      </div>
    </div>

    <div class="row txt-16 bd-grey mg-top-30 pd-bottom-20">
      <div class="col-xs-2">
        <p>Groupe 4</p>
      </div>
      <div class="col-xs-6">
        <p>Teckels</p>
      </div>
      <div class="col-xs-4">
        <p>12 mois</p>
      </div>
    </div>

    <div class="row txt-16 bd-grey mg-top-30 pd-bottom-20">
      <div class="col-xs-2">
        <p>Groupe 5</p>
      </div>
      <div class="col-xs-6">
        <p>Section 1 : Chiens nordiques de traîneau</p>
        <p>Section 2 : Chiens nordiques de chasse</p>
        <p>Section 3 : Chiens nordiques de garde et de berger</p>
        <p>Section 4 : Spitz européens</p>
        <p>Section 5 : Spitz asiatiques et races apparentées</p>
        <p>Section 6 : Type primitif</p>
        <p>Section 7 : Type primitif - Chiens de chasse</p>
        <p>Section 8 : Chiens de chasse de type primitif avec un épi linéaire sur le dos</p>
      </div>
      <div class="col-xs-4">
        <p>Chien de Canaan, Chien du Pharaon, Cirneco de l'Etna, Podenco Canario,Podenco Ibicenco, Podengo Portugais (moyen et grand), Samoyède, Akita Inu,Esquimau du Groenland: 15 mois</p>
        <p>Reste du groupe : 12 mois</p>
      </div>
    </div>

    <div class="row txt-16 bd-grey mg-top-30 pd-bottom-20">
      <div class="col-xs-2">
        <p>Groupe 6</p>
      </div>
      <div class="col-xs-6">
        <p>Section 1 : Chiens courants</p>
        <p>Section 2 : Chiens de recherche au sang</p>
        <p>Section 3 : Races apparentées</p>
      </div>
      <div class="col-xs-4">
        <p>12 mois</p>
      </div>
    </div>

    <div class="row txt-16 bd-grey mg-top-30 pd-bottom-20">
      <div class="col-xs-2">
        <p>Groupe 7</p>
      </div>
      <div class="col-xs-6">
        <p>Section 1 : Chiens d'arrêt continentaux</p>
        <p>Section 2 : Chiens d'arrêt britanniques et irlandais</p>
      </div>
      <div class="col-xs-4">
        <p>12 mois</p>
      </div>
    </div>

    <div class="row txt-16 bd-grey mg-top-30 pd-bottom-20">
      <div class="col-xs-2">
        <p>Groupe 8</p>
      </div>
      <div class="col-xs-6">
        <p>Section 1 : Rapporteurs de gibier</p>
        <p>Section 2 : Chiens leveurs de gibier et broussailleurs</p>
        <p>Section 3 : Chiens d'eau</p>
      </div>
      <div class="col-xs-4">
        <p>Retrievers, Rhodesian Ridgeback : 15 mois</p>
        <p>Reste du groupe : 12 mois</p>
      </div>
    </div>

    <div class="row txt-16 bd-grey mg-top-30 pd-bottom-20">
      <div class="col-xs-2">
        <p>Groupe 9</p>
      </div>
      <div class="col-xs-6">
        <p>Section 1 : Bichons et apparentés</p>
        <p>Section 2 : Caniche</p>
        <p>Section 3 : Chiens belges de petit format</p>
        <p>Section 4 : Chiens nus</p>
        <p>Section 5 : Chiens du Tibet</p>
        <p>Section 6 : Chihuahueño</p>
        <p>Section 7 : Epagneuls anglais d'agrément</p>
        <p>Section 8 : Epagneul japonais et pékinois</p>
        <p>Section 9 : Epagneul nain continental</p>
        <p>Section 10 : Kromfohrländer</p>
        <p>Section 11 : Molossoïdes de petit format</p>
      </div>
      <div class="col-xs-4">
        <p>Épagneuls Pékinois et Japonais : 10 mois</p>
        <p>Reste du groupe : 12 mois</p>
      </div>
    </div>

    <div class="row txt-16 bd-grey mg-top-30 pd-bottom-20">
      <div class="col-xs-2">
        <p>Groupe 10</p>
      </div>
      <div class="col-xs-6">
        <p>Section 1 : Lévriers à poil long ou frangé</p>
        <p>Section 2 : Lévriers à poil dur</p>
        <p>Section 3 : Lévriers à poil courts</p>
      </div>
      <div class="col-xs-4">
        <p>Whippet, Petit Lévrier Italien : 12 mois</p>
        <p>Reste du groupe : 15 mois</p>
      </div>
    </div>

  </div>
  <%- partial ('../partial/pub-bottom.ejs') %>
  <%- partial ('../layout/footer.ejs') %>
