<header class="site-header">
  <div class="site-logo">
    <a itemprop="brand" href="/back/home" title="Babies-pets">
      <img src="/img/logo-dod.jpg" class="img-responsive" alt="Babies-pets, site de petites annonces pour les animaux" />
    </a>
  </div>
  <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i class="icon-menu"></i></a></div>
  <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
</header>
