</div>
<footer class="footer container-fluid">
  <div class="container txt-center">
    <img src="/img/logo-dod-fdblue.png" alt="Babies-pets, site de petites annonces pour animaux" class="logo"/>
    <div class="bloc-social">
      <a href="https://www.facebook.com/teamBabiesPets" title="Retrouvez la team babies-pets sur facebook" target="_blank" rel="nofollow" class="sprite picto-fb"></a>
      <a href="https://twitter.com/babies_pets" title="Retrouvez la team babies-pets sur twitter" target="_blank" rel="nofollow" class="sprite picto-twitter"></a>
      <a href="https://plus.google.com/+EchangebannieresFr" title="Retrouvez la team babies-pets sur google plus" rel="nofollow" target="_blank" class="sprite picto-ggl"></a>
    </div>
    <div class="bloc-links txt-white">
      <a href="/contacter-la-team" title="Contacter la team babies-pets" class="txt-footer-link txt-orange">Contact</a> -
      <a href="/a-propos/cgu.html" title="Voir les conditions d'utilisation" class="txt-footer-link txt-orange">CGU</a> -
      <a href="/a-propos/mentions-legales.html" title="Voir les mentions légales" class="txt-footer-link txt-orange">Mentions légales</a> -
      <a href="/a-propos/cookies-eu.html" title="Voir les informations sur les cookies" class="txt-footer-link txt-orange">Cookies</a> -
      <a href="/a-propos/politique-confidentialite.html" title="Voir la politique sur les confidentialité" class="txt-footer-link txt-orange">Politique de confidentialité</a> -
      <a href="/a-propos/securite-conseils.html" title="Voir les conseils liés à la sécurité" class="txt-footer-link txt-orange">Conseils de sécurité</a><br/>
      <a href="/annuaire-eleveurs" title="Annuaire des éleveurs" class="txt-footer-link txt-orange">Annuaire des éleveurs</a> -
      <a href="/especes" title="Fiche des espèces" class="txt-footer-link txt-orange">Fiche des espèces</a> - 
      <a href="/a-propos/credits" title="Droits d'auteur et crédit  du site babies-pets.fr" class="txt-footer-link txt-orange">Crédits</a>
    </div>
    <p class="txt-copyright txt-white">© Copyright 2015 Babies-pets - Tous droits réservés</p>
  </div>
</footer>
<div class="popin popin-beta">
  <div class="container txt-center">
  </div>
</div>


