<header class="header">
  <div class="nav-container container">
    <div class="row">
      <div class="branding col-xs-6 col-sm-3">
        <a itemprop="brand" itemscope itemtype="http://schema.org/Brand" href="/" title="Babies-pets" class="logo row">
          <img src="/img/logo-dod.jpg" itemprop="logo" class="img-responsive" alt="Babies-pets, site de petites annonces pour les animaux" />
        </a>
      </div>
      <div class="col-sm-9 col-xs-6">
        <div class="hidden-lg hidden-md">
          <a href="#" title="Menu" class="sprite menu-xs"></a>
        </div>
        <div class="bloc-little-header txt-10 hidden-xs">
          <p class="link txt-up btn-annonce">/!\ Site web en cours de réalisation</p>
          <a href="/ajouter-une-annonce" title="Publier une annonce" class="link txt-up sprite-before btn-annonce" id="publishAction">Publier une annonce</a>
          <a href="/mon-compte/inscription" title="Accéder à mon compte" class="link txt-up sprite-before btn-compte" id="seeAccount">Connexion</a>
          <a href="/contacter-la-team" title="Contactez la team" class="link txt-up sprite-before btn-contact" id="seeContact">Contact</a>
          <p class="link txt-up btn-annonce hidden-sm hidden-lg hidden-md">Annonces par catégories: </p>
        </div>
        <nav class="row bloc-menu hidden-xs">
          <span class="btn-menu sprite"></span>
          <ul class="bloc-link">
            <li class="link">
              <a href="/home" class="btn-nav nav-pts" title="Voir les annonces"><span class="hidden-md hidden-lg"><i class="fas fa-caret-right"></i></span> Petites annonces </a>
              <a href="/especes" class="btn-nav nav-pts" title="Voir les fiches des espèces"><span class="hidden-md hidden-lg"><i class="fas fa-caret-right"></i></span> Fiches de nos compagnons <span class="hidden-md hidden-lg">des espèces</span></a>
              <!-- <a href="/annonces/chiens" class="btn-nav nav-pts" title="Annonces pour les chiens"><span class="hidden-md hidden-lg"><i class="fas fa-caret-right"></i> Annonces </span>Chiens</a>
              <a href="/annonces/chats" class="btn-nav nav-pts" title="Annonces pour les chats"><span class="hidden-md hidden-lg"><i class="fas fa-caret-right"></i> Annonces </span>Chats</a>
              <a href="/annonces/rongeurs" class="btn-nav nav-pts" title="Annonces pour les rongeurs"><span class="hidden-md hidden-lg"><i class="fas fa-caret-right"></i> Annonces </span>Rongeurs</a>-->
              <!-- <a href="/annonces/oiseaux" class="btn-nav nav-pts" title="Annonces pour les oiseaux"><span class="hidden-md hidden-lg"><i class="fas fa-caret-right"></i> Annonces </span>Oiseaux</a> -->
              <!-- <a href="/annonces/reptiles" class="btn-nav" title="Annonces pour les reptiles"><span class="hidden-md hidden-lg"><i class="fas fa-caret-right"></i> Annonces </span>Reptiles</a> -->
              <a href="/annuaire-eleveurs" title="Retrouvez notre annuaire d'éleveurs" class="btn-nav nav-pts" id="seeEleveur"><span class="hidden-md hidden-lg"><i class="fas fa-caret-right"></i></span>Eleveurs français</a>
            </li>
          </ul>
          <a href="/annuaire-eleveurs" title="Retrouvez notre annuaire d'éleveurs" class="link txt-up sprite-before btn-compte hidden-sm hidden-lg hidden-md" id="seeEleveur">Annuaire des éleveurs</a>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid">
