<%- partial ('../layout/header.ejs') %>
</div>
<div class="container-fluid bg-cat">
  <div class="container mg-bottom-40 bg-white txt-justify bloc-inscription">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <h2 class="ttl-h2 bd-grey mg-bottom-30">Conditions générales d'utilisation <span class="txt-12">(version 1.0.0)</span></h2>
        <p>La plateforme <a href="/" title="La plateforme babies-pets.fr" target="_blank">babies-pets.fr</a> est soucieuse des droits des individus, notamment au regard des traitements automatisés. Dans une volonté de transparence avec ses utilisateurs, la team babies-pets a mis en place une politique reprenant l’ensemble de ces traitements, des finalités poursuivies par ces derniers ainsi que des moyens d’actions à la disposition des individus afin qu’ils puissent au mieux exercer leurs droits.</p>
        <p>Pour toute information complémentaire sur la protection des données personnelles, nous vous invitons à consulter le site : <a href="https://www.cnil.fr/" title="Accéder au site du cnil" target="_blank">CNIL</a>.</p>
        <p>La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et conditions d'utilisation qui suivent. Vous acceptez l'utilisation de cookies et autres traceurs. En cas de refus, veuillez quitter la plateforme babies-pets.fr</p>
        <h3 class="ttl-h3 mg-top-40">Publication d'une annonce</h3>
        <p>En publiant votre annonce sur babies-pets.fr, vous acceptez les conditions suivantes :</p>
        <p>Nos annonces sont strictement réservées aux particuliers. En acceptant les présentes conditions générales de vente de notre plateforme babies-pets.fr, <b>vous vous engagez à certifier sur l'honneur l'exactitude des informations renseignées dans votre page de profil, dans votre page de professionnel, dans vos photographies, dans vos annonces, dans les messages échangés avec les autres utilisateurs de la plateforme babies-pets.fr</b>.</p>
        <p>S'il apparaît que ces conditions ne sont pas remplies, nous nous réservons le droit de supprimer / désactiver votre annonce de nos supports, de clôturer votre compte, de rendre indisponible les messages échangés à travers la plateforme babies-pets.fr. Nous nous offrons la possibilité de conserver toutes les données, sans nous interdire d'entamer des actions judiciaires.</p>
        <p>La plateforme babies-pets.fr est un site de mise en contact des utilisateurs. <b>Les utilisateurs de la plateforme sont tenus, par contrat implicite avec la plateforme babies-pets.fr, de rencontrer l'animal désiré avant d'émettre une offre d'achat</b>. Un animal n'étant pas un object, adopter un animal implique des responsabilités sur toute la durée de vie de l'animal. La team babies-pets n'encourageant pas l'abandon, nous n'encourageons pas l'achat impulsif, c'est pourquoi, le site babies-pets offre la possibilité de contacter le vendeur, par email, par téléphone, par voix postale, et ne met pas à disposition d'outils pour acheter un animal apparaissant dans une annonce.</p>
        <p>Pour rappel, vous êtes tenu par la première offre d'achat au prix de l'annonce. En refusant cette première offre au prix, vous vous exposez à des poursuites du candidat acquéreur évincé, conformément à l'article 1583 du code civil. </p>

        <h3 class="ttl-h3 mg-top-40">Photos</h3>

        <p>Si vous joignez des photos à votre annonces, à votre page de profil, à votre page professionnelle, nous vous informons que nous ne sommes pas en mesure de les diffuser :</p>
        <p>- Les photos de qualité insuffisante</p>
        <p>- Les photos présentant des personnes</p>
        <p>- Les photos aériennes</p>
        <p>- Les photos-montage</p>
        <p>- Les dessins</p>
        <p>- Les photos provenant d'un magazine, d'une plaquette touristique ou commerciale, d'une carte postale</p>

        <h3 class="ttl-h3 mg-top-40">Droit de refus</h3>

        <p>babies-pets.fr se réserve le droit de refuser toute annonce, tout utilisateur, toutes pages, dont le caractère pourrait être contraire à l'esprit et à la vocation du site.</p>
        <p>Seules les adresses de sites internet personnels pourront être publiées dans l'annonce après vérification par nos services.</p>

        <h3 class="ttl-h3 mg-top-40">Les informations fournies</h3>
        <p>Toute déclaration erronée, omission, plus d'actualité, ou fausse information ne sauraient engager la responsabilité de la plateforme babies-pets.</p>

        <h3 class="ttl-h3 mg-top-40">Contact</h3>
        <p>La team babies-pets se réserve le droit de contacter le client pour obtenir les informations complémentaires qu'il jugera nécessaires, ou simplement utiles à l'accomplissement de sa mission.</p>

        <h3 class="ttl-h3 mg-top-40">Données personnelles</h3>
        <p>Les informations personnelles fournies pour le traitement du dossier d'évaluation en ligne font l'objet des mesures de protection décrites sur la page « <a href="/a-propos/politique-confidentialite.html" title="Ouvrir la politique de confidentialité" >Politique de confidentialité</a> » de ce site.</p>

      </div>
      <%- partial ('../partial/bloc-cgu.ejs') %>

    </div>
  </div>
</div>
<%- partial ('../layout/footer.ejs') %>
