<%- partial ('../layout/header.ejs') %>
</div>
<div class="container-fluid bg-cat">
  <div class="container mg-bottom-40 bg-white txt-justify bloc-inscription">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <h2 class="ttl-h2 bd-grey mg-bottom-30">Politique de confidentialité <span class="txt-12">(version 1.0.0)</span></h2>
        <p>La team babies-pets (située au 93200 Saint Denis, France) en sa qualité de responsable du traitement, attache une grande importance à la protection et au respect de votre vie privée. La présente politique vise à vous informer de nos pratiques concernant la collecte, l’utilisation et le partage des informations que vous êtes amenés à nous fournir par le biais de notre plateforme accessible depuis le site internet www.babies-pets.fr.</p>
        <p>Cette politique (ainsi que nos Conditions générales d’utilisation et tout document auquel il y est fait référence ainsi que notre Charte sur les Cookies) présente la manière dont nous traitons les données personnelles que nous recueillons et que vous nous fournissez. Nous vous invitons à lire attentivement le présent document pour connaître et comprendre nos pratiques quant aux traitements de vos données personnelles que nous mettons en œuvre.</p>
        <h3 class="ttl-h3 mg-top-40">Les informations que nous recueillons</h3>
        <p>Nous sommes susceptibles de recueillir et de traiter les données suivantes :</p>
        <p>En utilisant notre Plateforme, vous êtes amenés à nous transmettre des informations, dont certaines sont de nature à vous identifier (« Données Personnelles »). C’est notamment le cas lorsque vous remplissez des formulaires (comme par exemple le formulaire d’inscription), lorsque vous nous contactez, lorsque vous utilisez un formulaire de contact présent sur la plateforme – que ce soit par email ou tout autre moyen de communication – ou lorsque vous nous faites part d’un problème.</p>
        <p>- Les données nécessaires à l’inscription sur babies-pets. Ces données sont notamment votre nom et prénom, votre pseudo, votre adresse e-mail, numéro de téléphone, votre position géographique et mot de passe. Ces informations sont obligatoires. A défaut, babies-pets ne sera pas en mesure de vous fournir les services proposés par notre Plateforme et vous ne serez pas autorisés à créer de compte sur babies-pets.</p>
        <p>- Une photographie / avatar, photographies liées à votre commerce / élevage</p>
        <p>- Une adresse postale</p>
        <p>- Description, nom, adresse postale, téléphone de votre commerce / élevage</p>
        <p>- Une copie de vos échanges : avec un utilisateur, avec un professionnel, avec la team babies-pets, avec un eventuel client, avec un client</p>
        <p>- Le détail de vos mise en favoris : éleveur, annonces, espèces et races préférées</p>
        <p>- Les données que nous pouvons vous demander de fournir lorsque vous nous signalez un problème relatif à notre Plateforme ou à nos services, comme par exemple l’objet de votre demande d’assistance</p>
        <p>- Les données liées à votre localisation lorsque vous avez accepté que nous collections et traitions ces données</p>
        <h3 class="ttl-h3 mg-top-40">Les données recueillies automatiquement</h3>
        <p>- Nous recueillons également des informations sur votre utilisation de notre Plateforme (telles que le nombre d’annonces publiées, votre taux de réponse aux messages, votre date d’inscription, votre moyenne d’avis reçus, etc.) qui sont susceptibles d’être affichées sur votre profil public.</p>

        <h3 class="ttl-h3 mg-top-40">Comment sont utilisées les données recueillis</h3>
        <p>Nous utilisons les données que nous recueillons pour :</p>
        <p>- exécuter les contrats conclus entre vous et nous et vous fournir les informations et services demandés</p>
        <p>- vous envoyer des renseignements sur nos services par e-mail, SMS ou tout autre moyen de communication</p>
        <p>- vous permettre de personnaliser votre profil sur nos Plateformes</p>
        <p>- vous permettre de communiquer et d’échanger avec les autres membres de babies-pets.fr</p>
        <p>- nous assurer du respect de (i) la législation applicable, (ii) nos conditions générales d’utilisation, (iii) notre politique de confidentialité et (iv) notre charte de bonne conduite. En cas de manquements de votre part, nous pourrons être amenés à suspendre votre compte sur nos Plateformes ;</p>
        <p>- vous informer des modifications apportées à nos services</p>
        <p>- améliorer et optimiser notre palteforme babies-pets.fr, notamment pour nous assurer de ce que l’affichage de nos contenus et ses fonctionnalités sont adaptées à votre appareil</p>

        <h3 class="ttl-h3 mg-top-40">Durée de conservation de vos données</h3>
        <p>Dans l’hypothèse où votre compte a été cloturé, suspendu ou bloqué, nous conservons vos données pour une durée variant de 1 à 5 ans à compter de la suspension afin d’éviter tout contournement de votre part des règles en vigueur sur notre Plateforme babies-pets.fr.</p>

        <h3 class="ttl-h3 mg-top-40">Comment les messages sont modérés</h3>
        <p>Nous pouvons prendre connaissance les messages que vous échangez avec d’autres membres de notre communauté via notre plateforme notamment à des fins de prévention des fraudes, d’amélioration de nos services, d’assistance utilisateur, de vérification du respect par nos membres des contrats conclus avec nous et notamment de nos Conditions Générales d’Utilisation.</p>
        <p>Nous ne prenons jamais connaissance de vos communications avec d’autres membres de notre communauté à des fins promotionnelles ou de ciblage publicitaire. Lorsque cela est possible, nous avons recours à des systèmes automatisés pour procéder à la modération des messages transmis entre les membres via notre Plateforme babies-pets.fr.</p>

        <h3 class="ttl-h3 mg-top-40">Cookies</h3>
        <p>Pour en savoir plus, consultez notre <a href="/cookies-eu.html" title="Consultez notre charte sur les cookies">Charte sur les Cookies</a>.</p>
        <h3 class="ttl-h3 mg-top-40">Confidentialité de votre mot de passe</h3>
        <p>Vous êtes responsable de la confidentialité du mot de passe que nous vous avez choisi pour accéder à votre compte sur notre Plateforme babies-pets.fr et vous vous engagez à conserver ce mot de passe secret et à ne le communiquer à personne.</p>
        <h3 class="ttl-h3 mg-top-40">Modification de notre politique de confidentialité</h3>
        <p>Nous pouvons être amené à modifier occasionnellement la présente politique de confidentialité. Nous vous conseillons de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications ou mises à jour apportées à notre politique de confidentialité.</p>
      </div>

      <%- partial ('../partial/bloc-cgu.ejs') %>



    </div>
  </div>
</div>
<%- partial ('../layout/footer.ejs') %>
