<%- partial ('../layout/header.ejs') %>
</div>
<div class="container-fluid  bg-cat">
<div class="container mg-bottom-150 bloc-padding-small bloc-securite-conseils">
  <div class="row">
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="ttl-h2 bd-grey mg-bottom-30">Nos principaux conseils de sécurité</h2>
        </div>

        <div class="col-xs-12 mg-bottom-40 bg-blue-green" style="border-radius: 3px;">
          <h4 class="ttl-h4 txt-white mg-top-20">Vous rencontrez un doute sur une annonce ou un utilisateur ?</h4>
          <h4 class="ttl-h4 txt-white mg-bottom-20">Contactez-nous sur contact@babies-pets.fr</h4>
        </div>

        <div class="col-xs-12 mg-bottom-30 bd-grey">
          <h3 class="ttl-h3 mg-bottom-20">Attention aux arnaques</h3>
          <p class="mg-bottom-20">Le mode opératoire est souvent le même : l'arnaqueur vous raconte une histoire montée de toutes pièces et accompagnée de belles photos.
          Il vous explique les raisons rocambolesques qui justifient la bonne affaire (décès, mutation, maladie, enfants, climat...), c'est l'amorce classique d'une arnaque.
          </p>

          <h4 class="ttl-h4 mg-top-40">Des prix très bas</h4>
          <p class="mg-bottom-20">Si un chiot ou chaton de race est vendu à un prix trop bas ou donné gratuitement, méfiez vous, il s'agit très certainement d'une arnaque.
          </p>

          <h4 class="ttl-h4 mg-top-30">Une annonce mal rédigée</h4>
          <p class="mg-bottom-20">Une annonce écrite en mauvais français, des tournures de phrase incohérentes ou encore des formules de politesse exagérées, indiquent que la personne est très certainement un étranger tentant d'arnaquer de potentiels acquéreurs. Signalez l'annonce et ne donnez pas suite.
          </p>

          <h4 class="ttl-h4 mg-top-30">Des prix non renseigné</h4>
          <p class="mg-bottom-40">Si le vendeur n'a pas fixé de prix, et vous propose ensuite de proposer un prix à sa place, ne continuez pas. Le vendeur tente de faire monter les enchères. Les animaux ne sont pas une marchandise.
          </p>

        </div>
        <div class="col-xs-12 mg-bottom-30 mg-top-20 bd-grey">
          <h3 class="ttl-h3 mg-bottom-20">Le lieu de visite</h3>

          <h4 class="ttl-h4">Rencontrez le vendeur et l'animal</h4>
          <p class="mg-bottom-20">Rencontrez toujours le vendeur et l'animal avant de verser une somme. Il est important de rencontrer l'animal avant de l'acquerir.
            Si le vendeur ne veut pas vous rencontrer, ne donnez pas suite, il s'agit d'une arnaque.
          </p>

          <h4 class="ttl-h4 mg-top-30">Rencontrez les parents de l'animal</h4>
          <p class="mg-bottom-20">Essayez toujours de rencontrer les parents de l'animal. Vous vous ferez une meilleure idée de ce que deviendra le jeune animal une fois adulte.
            Soyez attentif, le comportement des parents de l'animal aide à se faire une idée sur le futur caractère de l'animal à apprivoiser.
          </p>

          <h4 class="ttl-h4 mg-top-30">L'animal doit être éveillé</h4>
          <p class="mg-bottom-20">Rencontrez toujours l'animal éveillé. Passez un peu de temps avec lui, jouez avec lui si possible. Privilégié un animal avec qui vous aurez établi un contact.
          </p>

          <h4 class="ttl-h4 mg-top-30">N'achetez pas à l'étranger</h4>
          <p class="mg-bottom-20">Les conditions de vie à l'étranger sous souvent lamentables. Préférez toujours la proximité.</p>

          <p class="mg-bottom-40">Un chiot né en FRANCE est soit tatoué, soit idenfié avec une puce électronique, commençant par 250***********.
            Tous les numéros de puce en 900***********, 981, 950, etc...  sont des numéros de chiots identifiés à l'étranger.</p>
        </div>

        <div class="col-xs-12 mg-bottom-30 mg-top-20 bd-grey">
          <h3 class="ttl-h3 mg-bottom-20">Le paiement</h3>

          <h4 class="ttl-h4">Western Union / Mandat Cash</h4>
          <p class="mg-bottom-20">L'une des escroquerie les plus répandue passe par le transfert d'argent via Western Union ou le transfert d'argent via Mandash Cash. Choisissez les transactions en main propre, lorsque vous avez l'animal avec vous.</p>

          <h4 class="ttl-h4 mg-top-30">Frais de transport / de douane</h4>
          <p class="mg-bottom-20">N'avancez pas d'argent avant d'avoir rencontré l'animal. Ne payez jamais aucun frais de transport ou frais de douane.
          </p>

          <h4 class="ttl-h4 mg-top-30">Faux billets</h4>
          <p>Vous êtes vendeurs: demandez à ce que l'argent soit remis au guichet de votre banque afin que d'éventuels faux billets puissent être décelés et que l'argent soit directement versé sur votre compte.
          </p>

          <h4 class="ttl-h4 mg-top-30">Chèque en blanc</h4>
          <p class="mg-bottom-40">Vous êtes vendeurs: faites attention aux chèques en blanc. Si possible, demandez un chèque de banque qui vous assurera que le chèque est bien provisionné.
          </p>
        </div>
        <div class="col-xs-12 mg-bottom-20 bg-grey">
          <div class="col-xs-12">
            <h3 class="ttl-h3 mg-top-40">Vous avez plus de questions ? Vous voulez d'autres conseils ?</h3>
            <p class="txt-18">Contactez-nous, en nous écrivant via le formulaire de contact ou en nous envoyant un email sur : </p>
            <div class="row mg-bottom-20 mg-top-20">
              <div class="col-xs-5 col-xs-offset-1">
                <p class="txt-18">> <a href="mailto: contact@babies-pets.fr">contact@babies-pets.fr</a></p>
                </div>
              <div class="col-xs-5 col-xs-offset-1">
                <p class="txt-18">> <a href="/contacter-la-team">le formulaire de contact</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3">
        <div class="bloc-facebook col-xs-12 mg-bottom-20 mg-top-20">
          <a href="https://www.facebook.com/teamBabiesPets/" target="_blank" title="Echangez avec la communauté facebook" class="link">
            Echangez avec la communauté facebook
            <span class="picto-share-fb sprite"></span>
          </a>
        </div>
      <div class="row">

        <div class="col-xs-12 bg-grey">
          <h3 class="ttl-h3 mg-top-30">Signaler une Arnaque</h3>
          <p class="txt-justify mg-bottom-30">Nous faisons tout notre possible pour vérifier chaque annonce et supprimer les arnaques avant même qu'elles ne soient publiées.</p>
        </div>

        <div class="col-xs-12 mg-top-20">
          <img src="/img/conseil-dog.png"/>
        </div>

        <div class="col-xs-12 bg-grey mg-top-20">
          <p class="txt-justify mg-top-30">Des annonces frauduleuses peuvent cependant passer entre les mailles du filet.</p>
          <p class="txt-justify mg-top-20 mg-bottom-30">Signalez ces annonces pour avertir les autres utilisateurs et permettre à la team babies-pets de les supprimer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- partial ('../layout/footer.ejs') %>
