<%- partial ('../layout/header.ejs') %>
</div>
<div class="container-fluid bg-cat">
  <div class="container mg-bottom-40 bg-white txt-justify bloc-inscription">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <h2 class="ttl-h2 bd-grey mg-bottom-30">Information sur les cookies <span class="txt-12">(version 1.0.0)</span></h2>
        <p>La présente politique s’applique aux cookies déposés sur le site babies-pets.fr, le site mobile ou les applications mobiles de babies-pets.</p>

        <h3 class="ttl-h3 mg-top-40">Qu’est-ce qu’un cookie ?</h3>
        <p>Un cookie est un fichier texte stocké par un site internet via votre navigateur sur un espace qui lui est dédié. A durée limitée, le cookies permet à un site web de garder temporairement des informations sur l'utilisateur courant afin de bénéficier d'une page adaptée à l'utilisateur. Le cookie permet entre autre, d'avoir un système d'authentification avec gestion des annonces spécifiques à l'utilisateur, d'avoir une page de profil, d'avoir un système de message entre utilisateurs, une gestion des favoris...<p>

        <h3 class="ttl-h3 mg-top-40">Pourquoi babies-pets.fr utilise des cookies ?</h3>
        <p>Babies-pets.fr utilise des cookies afin de vous fournir une expérience optimale et adaptée à vos préférences personnelles. En utilisant les cookies, babies-pets vous évite de ressaisir les mêmes informations à chaque fois que vous visitez une nouvelle page. Les cookies vous permettent d'avoir un système d'authentification avec gestion des annonces spécifiques à l'utilisateur, d'avoir une page de profil, d'avoir un système de message entre utilisateurs, une gestion des favoris...<p>

        <h3 class="ttl-h3 mg-top-40">Quelle est la durée de conservation des cookies ?</h3>
        <p>Les cookies liés directement au site babies-pets ont une durée de vie limité à deux semaines au maximum.</p>
        <p>Les cookies de publicité ciblée et de mesure d’audience déposés directement ou indirectement par La Poste ont une durée de validité de 13 mois maximum.</p>

        <h3 class="ttl-h3 mg-top-40">Quels sont les types de cookies utilisés sur nos sites ?</h3>
        <h4 class="ttl-h4">A. Les cookies techniques et de navigation</h4>
        <p>Les cookies facilitent la navigation de l'utilisateur entre les pages du site babies-pets.fr et sont nécessaires pour vous permettre de bénéficier de certaines fonctionnalités du site et services (création de compte, identification…) de babies-pets et expirent automatiquement au bout d'un certain délai. Si vous avez choisi de désactiver ces cookies via votre navigateur internet, l’accès à nos services sera altéré ou indisponible. Nous vous conseillons donc de les laisser actifs pour profiter pleinement de nos services et de votre navigation sur nos sites et applications.</p>

        <h4 class="ttl-h4 mg-top-30">B. Le cookie de mesure d’audience et de suivi de navigation</h4>
        <p>Ce cookie est déposé sur l’ensemble de nos sites internet, sites mobiles et applications mobiles. Il permet de collecter des données statistiques anonymes de fréquentation de nos sites et applications afin d’améliorer leur ergonomie. Vous pouvez le désactiver depuis la rubrique ci-dessous "Comment gérer le dépôt et la lecture des cookies ?".</p>

        <h4 class="ttl-h4 mg-top-30">C. Les cookies de publicité ciblée</h4>
        <p>Ces cookies sont déposés par notre régie publicitaire ou par des tiers (régies publicitaires ou annonceurs), sur les sites www.laposte.fr et www.laposte.net. Ils permettent de vous proposer des publicités adaptées à vos centres d'intérêts. Vous avez la possibilité d’accepter ou de refuser ces cookies soit depuis la rubrique ci-dessous « Comment gérer le dépôt et la lecture des cookies ? » pour les cookies déposés par La Poste soit, pour les autres cookies, en consultant les politiques de confidentialité propres aux régies publicitaires tierces ou aux annonceurs.</p>

      </div>
      <%- partial ('../partial/bloc-cgu.ejs') %>

    </div>
  </div>
</div>
<%- partial ('../layout/footer.ejs') %>
