<%- partial ('../layout/header.ejs') %>
</div>
<div class="container-fluid bg-cat">
  <div class="container mg-bottom-40 bg-white txt-justify bloc-inscription">
    <div class="row mg-bottom-20">
      <div class="col-xs-12">
        <h2 class="ttl-h2 bd-grey mg-bottom-30">Droits d'auteur et crédits photos / videos <span class="txt-12">(version 1.0.0)</span></h2>
      </div>
    </div>

    <div class="row  ">
      <div class="col-xs-4 mg-bottom-20 "><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Wikipedia-logo-en-big.png" alt="Freepik" class="img-responsive"/></div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40"><span class="txt-bold">Source :</span> Wikipedia</p>
      </div>
      <div class="col-xs-4">
        <a href="https://fr.wikipedia.org/wiki" title="Accéder au site Wikipedia" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>


    <div class="row  ">
      <div class="col-xs-4 mg-bottom-20 "><img src="https://www.blog.lignes-formations.com/wp-content/uploads/sites/15/2017/03/logo-freepik-com.png" alt="Freepik" class="img-responsive"/></div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40"><span class="txt-bold">Source :</span> Freepik</p>
      </div>
      <div class="col-xs-4">
        <a href="https://fr.freepik.com" title="Accéder au site Freepik" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>


    <div class="row  mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://s.pxhere.com/media/images/about/medium-rectangle-black.png?v=41" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>
    <div class="row  mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/thumb/KhpS4d2XZ-Jj4ntIjt7vgID5DNA=/262x230/0a3e9dab70db49aebe6a8b6f181f121e" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image de chat</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>
    <div class="row  mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/thumb/ihnqekCR6K7BwjG9MvkUT3dceLA=/262x230/1178fc95eef24798bdb6f82b3a8b3d6e" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image de lapin</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>

    <div class="row mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/thumb/arGxtVuTUfbKqpUFvirFFrADU3o=/262x230/c438305d1824464281db350b5cfac2e8" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image de cochon d'inde</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com/fr/photo/486681" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>

    <div class="row mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/thumb/OnrWpEo14fsPJUM0-IDGfRcuAJo=/262x230/f01a47707f38468c8311cd9ccee7dc74" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image Basenji</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com/fr/photo/548318" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>

    <div class="row mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/thumb/rTZ9cq17j1TRWkZEVn-4yzXSbEw=/262x230/bd1febdf7d9642b794b8c8e23d242e95" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image Furet</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com/fr/photo/667003" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>

    <div class="row mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/thumb/Wt6z3MSGAHNgFgxrlpswEIMw-40=/262x230/c21b4a6de6dd4296b90201b0dfdd891d" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image chat Norvegien</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com/fr/photo/1361134" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>

    <div class="row mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/thumb/B3HZgFHWNL1oHkWTN4dg8BiC-1w=/262x230/4a91e8eafa444c30be635324d616faee" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image Dobermann</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com/fr/photo/701156" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>

    <div class="row mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/img/eleveur.jpg" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image éleveur</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com/fr/photo/745876" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>

    <div class="row mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/thumb/GXNE6wtYwmkYgCdc2bgb1-hJbWc=/262x230/86ab6c8f8d0c4bebbfe6601740fc4259" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image berger des pyrénées</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com/fr/photo/608336" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>

    <div class="row mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/thumb/Shz_FQDG5EHTy7jiZWQ1tsPS7bw=/262x230/b4eeefee00ff4cefaded33ef6d554dfb" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image Spitz Allemand</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com/fr/photo/1029664" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>

    <div class="row mg-bottom-20 ">
      <div class="col-xs-4 mg-bottom-20 ">
        <img src="https://www.babies-pets.fr/thumb/xVd99S9EKzrw8pw89L2Wo-Qz3Ic=/262x230/eaedf0c3e9be4be6bd84f2ba345f1321" alt="pxhere" class="img-responsive">
      </div>
      <div class="col-xs-4">
        <p class="ttl-h3 mg-top-40">Image berger allemand</p>
        <p class="ttl-h3 mg-top-10"><span class="txt-bold">Source :</span> Pxhere</p>
      </div>
      <div class="col-xs-4">
        <a href="https://pxhere.com/fr/photo/647372" title="Accéder au site pxhere" rel="nofollow" class="btn float-right txt-bold txt-16 mg-top-40" target="_blank">Accéder au site</a>
      </div>
    </div>




  </div>
</div>
<%- partial ('../layout/footer.ejs') %>
