<%- partial ('../layout/header.ejs') %>
</div>
<div class="container-fluid bg-cat">
  <div class="container mg-bottom-40 bg-white txt-justify bloc-inscription">
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <h2 class="ttl-h2 bd-grey mg-bottom-30">Mentions légales <span class="txt-12">(version 1.0.0)</span></h2>
        <p class="txt-18 mg-bottom-20">L'éditeur du site internet www.babies-pets.fr (ci-après "babies-pets.fr") est Adrien Parrochia <a href="https://plus.google.com/117273654431271178469?rel=author" rel="me" target="_blank" title="Adrien Parrochia">Adrien Parrochia</a></p>
        <!--<p class="txt-24 mg-bottom-20">Numéro SIRET : 814247177 00011.</p>-->
        <p class="txt-18 mg-bottom-20">Le présent site est hebergé chez : Online.net</p>
        <p class="txt-18 mg-bottom-20 mg-bottom-60">Toute remarque, suggestion ou réclamation concernant le contenu du présent site Internet peut être envoyé à l'adresse e-mail suivante: <a href="mailto: contact@babies-pets.fr">contact@babies-pets.fr</a></p>
      </div>
      <%- partial ('../partial/bloc-cgu.ejs') %>

    </div>
  </div>
</div>
<%- partial ('../layout/footer.ejs') %>
